*.beam
deps/goldrush
deps/lager
deps/afunix/
deps/bear/
deps/exo/
deps/edown/
deps/parse_trans/
deps/setup/
deps/exometer/
deps/folsom/
deps/meck/
deps/netlink/
deps/recon/
.rebar
.idea
_rel/*
ebin/*
ebin-erlang/*
*.ORIG
