[{prospero, [
    {startup, [
        {join_timeout_millis, 10000},
        {bootstrap, standalone}
      ]},
    {audit, [
        {log_path, "/tmp/publish_proto.log"},
        {include_payload, true}
      ]},
    {amqp, [
		{reconnect_wait_millis, 2000},
		{consumer_prefetch_count, 3},
		{confirmed_publishing, false},
		{brokers, [
			{"one", [
				{exchange, "prospero"},
				{host, "localhost"},
				{port, 5672},
				{virtual_host, "/"},
				{username, "guest"},
				{password, "guest"},
				{heartbeat_milliseconds, 10}
				]			
			}
		]}
	]},
    {stats, [
        {host, {127, 0, 0, 1}},
        {port, 8125}
      ]}
  ]}
].
