[{publish_proto, [
	{amqp, [
		{reconnect_wait_millis, 2000},
		{consumer_prefetch_count, 3},
		{confirmed_publishing, false},
		{brokers, [
			{"one", [
				{exchange, "prospero"},
				{host, "localhost"},
				{port, 5672},
				{virtual_host, "/"},
				{username, "guest"},
				{password, "guest"},
				{heartbeat_milliseconds, 10}
			]
			}
		]}
	]},
	%%
	%% The only information in this configuration file is for lager. It defines several lager 
	%% "backends", one defining the log file for each of the logging levels. This is fairly arbitrary
	%% list and can be modified for individual needs.
	%%
	
	{lager, [
		{handlers, [
			{lager_console_backend, [info, {lager_default_formatter, [date, " ", time," [",severity,"] ",
				pid, " ", module, ":", function, " ", message, "\n"]}]},
			{lager_file_backend, [{file, "log/error.log"}, {level, error}, {formatter, lager_default_formatter},
				{formatter_config, [date, " ", time," [",severity,"] ",pid, " ", module, ":", function, " ", message, "\n"]}]},
			{lager_file_backend, [{file, "log/debug.log"}, {level, debug}, {formatter, lager_default_formatter},
				{formatter_config, [date, " ", time," [",severity,"] ",pid, " ", module, ":", function, " ", message, "\n"]}]},
			{lager_file_backend, [{file, "log/emergency.log"}, {level, emergency}, {formatter, lager_default_formatter},
				{formatter_config, [date, " ", time," [",severity,"] ",pid, " ", module, ":", function, " ", message, "\n"]}]},
			{lager_file_backend, [{file, "log/info.log"}, {level, info}, {formatter, lager_default_formatter},
				{formatter_config, [date, " ", time," [",severity,"] ",pid, " ", module, ":", function, " ", message, "\n"]}]}
		] }
	]}
%% 	{lager, [
%% 		{colored, true},
%% 		{error_logger_hwm, 200}
%% 	]}
]
}].
