[{publish_proto, [
	{amqp, [
		{reconnect_wait_millis, 2000},
		{consumer_prefetch_count, 3},
		{confirmed_publishing, false},
		{brokers, [
			{"one", [
				{exchange, "prospero"},
				{host, "localhost"},
				{port, 5672},
				{virtual_host, "/"},
				{username, "guest"},
				{password, "guest"},
				{heartbeat_milliseconds, 10}
			]
			}
		]}
	]},
	{lager, [
		{colored, true}
	]}
]
}].
