[{publish_proto, [
  {amqp, [
    {reconnect_wait_millis, 2000},
    {consumer_prefetch_count, 50},
    {confirmed_publishing, false},
    %% RabbitMQ running in a local VM
%%     {broker_address, "192.168.56.31"}
    %% RabbitMQ running into Rabbit's "tracer" tool
%%     {broker_address, "localhost"}
    %% RabbitMQ running on stg-usw2c-pr-29-subpubpf-ramq-0003
     {broker_address, "10.199.23.211"}
  ]},
  
  {publishing_pool_size, 5},
  {inter_publish_pause_millis, 1},
  {subscriber_timeout_millis, 600000},
  {stats_collection_interval_millis, 5000},
  
  %% no subscriber headers => []
  %% 9 active subs, 4 inactive subs
  {subscriber_headers, [
    [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Ignore.This">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Ignore.This.2">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Ignore.This.3">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Ignore.This.4">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"SubSystem">>, binary, <<"Dragnet">>},
      {<<"System">>, binary, <<"Cronica">>}, {<<"ClientString">>, binary, <<"kaplan">>},
      {<<"Client">>, binary, <<"404310">>}, {<<"UserId">>, binary, <<"31674242">>},
      {<<"CourseId">>, binary, <<"11008988">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"SubSystem">>, binary, <<"Dragnet">>},
      {<<"System">>, binary, <<"Cronica">>}, {<<"ClientString">>, binary, <<"kaplan">>},
      {<<"Client">>, binary, <<"404310">>}, {<<"UserId">>, binary, <<"31674242">>},
      {<<"CourseId">>, binary, <<"11008988">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"SubSystem">>, binary, <<"Dragnet">>},
      {<<"System">>, binary, <<"Cronica">>}, {<<"ClientString">>, binary, <<"kaplan">>},
      {<<"Client">>, binary, <<"404310">>}, {<<"UserId">>, binary, <<"31674242">>},
      {<<"CourseId">>, binary, <<"11008988">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"SubSystem">>, binary, <<"Dragnet">>},
      {<<"System">>, binary, <<"Cronica">>}, {<<"ClientString">>, binary, <<"kaplan">>},
      {<<"Client">>, binary, <<"404310">>}, {<<"UserId">>, binary, <<"31674242">>},
      {<<"CourseId">>, binary, <<"11008988">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"SubSystem">>, binary, <<"Dragnet">>},
      {<<"System">>, binary, <<"Cronica">>}, {<<"ClientString">>, binary, <<"kaplan">>},
      {<<"Client">>, binary, <<"404310">>}, {<<"UserId">>, binary, <<"31674242">>},
      {<<"CourseId">>, binary, <<"11008988">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"SubSystem">>, binary, <<"Dragnet">>},
      {<<"System">>, binary, <<"Cronica">>}, {<<"ClientString">>, binary, <<"kaplan">>},
      {<<"Client">>, binary, <<"404310">>}, {<<"UserId">>, binary, <<"31674242">>},
      {<<"CourseId">>, binary, <<"11008988">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"SubSystem">>, binary, <<"Dragnet">>},
      {<<"System">>, binary, <<"Cronica">>}, {<<"ClientString">>, binary, <<"kaplan">>},
      {<<"Client">>, binary, <<"404310">>}, {<<"UserId">>, binary, <<"31674242">>},
      {<<"CourseId">>, binary, <<"11008988">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"SubSystem">>, binary, <<"Dragnet">>},
      {<<"System">>, binary, <<"Cronica">>}, {<<"ClientString">>, binary, <<"kaplan">>},
      {<<"Client">>, binary, <<"404310">>}, {<<"UserId">>, binary, <<"31674242">>},
      {<<"CourseId">>, binary, <<"11008988">>}, {<<"x-match">>, longstr, <<"all">>}]
  ] },

  %% Small header
  %% [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"x-match">>, longstr, <<"all">>}];
  {publish_header, [
    {<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"SubSystem">>, binary, <<"Dragnet">>},
    {<<"System">>, binary, <<"Cronica">>}, {<<"ClientString">>, binary, <<"kaplan">>},
    {<<"Client">>, binary, <<"404310">>}, {<<"UserId">>, binary, <<"31674242">>},
    {<<"CourseId">>, binary, <<"11008988">>}, {<<"x-match">>, longstr, <<"all">>}] 
  },

  {lager, [
    {handler, [
      {lager_console_backend, [info, {lager_default_formatter, [date, " ", time, " [", severity, "] ",
        pid, " ", module, ":", function, " ", message, "\n"]}]},
      {lager_file_backend, [{file, "log/error.log"}, {level, error}, {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", module, ":", function, " ", message, "\n"]}]},
      {lager_file_backend, [{file, "log/debug.log"}, {level, debug}, {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", module, ":", function, " ", message, "\n"]}]},
      {lager_file_backend, [{file, "log/emergency.log"}, {level, emergency}, {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", module, ":", function, " ", message, "\n"]}]},
      {lager_file_backend, [{file, "log/info.log"}, {level, info}, {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", module, ":", function, " ", message, "\n"]}]}
    ]}
  ]}
%% 	{lager, [
%% 		{colored, true},
%% 		{error_logger_hwm, 200}
%% 	]}
]
},

{exometer, [
  { report,
    [
      { subscribers,
        [
          {   exometer_report_statsd, [publish_proto, erlang, memory], total, 10, true }
          , { exometer_report_statsd, [publish_proto, erlang, memory], processes, 10, true }
          , { exometer_report_statsd, [publish_proto, erlang, memory], ets, 10, true }
          , { exometer_report_statsd, [publish_proto, erlang, memory], binary, 10, true }
          , { exometer_report_statsd, [publish_proto, erlang, memory], atom, 10, true }
          , { exometer_report_statsd, [publish_proto, erlang, memory], system, 10, true }

          , { exometer_report_statsd, [publish_proto, recon, alloc], used, 1, true }
          , { exometer_report_statsd, [publish_proto, recon, alloc], allocated, 1, true }
          , { exometer_report_statsd, [publish_proto, recon, alloc], unused, 1, true }
          , { exometer_report_statsd, [publish_proto, recon, alloc], usage, 1, true }
        ]},

      { reporters,
        [
          { exometer_report_statsd,
            [
              {hostname, "localhost"},
              {port, 8125},
              {type_map, [
                { [publish_proto, erlang, memory, total], gauge }
                , { [publish_proto, erlang, memory, processes], gauge }
                , { [publish_proto, erlang, memory, ets], gauge }
                , { [publish_proto, erlang, memory, binary], gauge }
                , { [publish_proto, erlang, memory, atom], gauge }
                , { [publish_proto, erlang, memory, system], gauge }

                , { [publish_proto, recon, alloc, used], gauge }
                , { [publish_proto, recon, alloc, allocated], gauge }
                , { [publish_proto, recon, alloc, unused], gauge }
                , { [publish_proto, recon, alloc, usage], gauge }
              ]}
            ]}
        ]}
    ]}
 ]}

].
