[{publish_proto, [
  {amqp, [
    {reconnect_wait_millis, 2000},
    {consumer_prefetch_count, 50},
    {confirmed_publishing, false},
    %% RabbitMQ running in a local VM
%%     {broker_address, "192.168.56.31"}
    %% RabbitMQ running on stg-usw2c-pr-29-subpubpf-ramq-0003
    {broker_address, "10.199.23.211"}
  ]},
  
  {publishing_pool_size, 5},
  {inter_publish_pause, 1}, %% milliseconds
  
  %% no subscriber headers => []
  %% 9 active subs, 4 inactive subs
  {subscriber_headers, [
    [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Ignore.This">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Ignore.This.2">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Ignore.This.3">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Ignore.This.4">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"SubSystem">>, binary, <<"Dragnet">>},
      {<<"System">>, binary, <<"Cronica">>}, {<<"ClientString">>, binary, <<"kaplan">>},
      {<<"Client">>, binary, <<"404310">>}, {<<"UserId">>, binary, <<"31674242">>},
      {<<"CourseId">>, binary, <<"11008988">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"SubSystem">>, binary, <<"Dragnet">>},
      {<<"System">>, binary, <<"Cronica">>}, {<<"ClientString">>, binary, <<"kaplan">>},
      {<<"Client">>, binary, <<"404310">>}, {<<"UserId">>, binary, <<"31674242">>},
      {<<"CourseId">>, binary, <<"11008988">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"SubSystem">>, binary, <<"Dragnet">>},
      {<<"System">>, binary, <<"Cronica">>}, {<<"ClientString">>, binary, <<"kaplan">>},
      {<<"Client">>, binary, <<"404310">>}, {<<"UserId">>, binary, <<"31674242">>},
      {<<"CourseId">>, binary, <<"11008988">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"SubSystem">>, binary, <<"Dragnet">>},
      {<<"System">>, binary, <<"Cronica">>}, {<<"ClientString">>, binary, <<"kaplan">>},
      {<<"Client">>, binary, <<"404310">>}, {<<"UserId">>, binary, <<"31674242">>},
      {<<"CourseId">>, binary, <<"11008988">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"SubSystem">>, binary, <<"Dragnet">>},
      {<<"System">>, binary, <<"Cronica">>}, {<<"ClientString">>, binary, <<"kaplan">>},
      {<<"Client">>, binary, <<"404310">>}, {<<"UserId">>, binary, <<"31674242">>},
      {<<"CourseId">>, binary, <<"11008988">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"SubSystem">>, binary, <<"Dragnet">>},
      {<<"System">>, binary, <<"Cronica">>}, {<<"ClientString">>, binary, <<"kaplan">>},
      {<<"Client">>, binary, <<"404310">>}, {<<"UserId">>, binary, <<"31674242">>},
      {<<"CourseId">>, binary, <<"11008988">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"SubSystem">>, binary, <<"Dragnet">>},
      {<<"System">>, binary, <<"Cronica">>}, {<<"ClientString">>, binary, <<"kaplan">>},
      {<<"Client">>, binary, <<"404310">>}, {<<"UserId">>, binary, <<"31674242">>},
      {<<"CourseId">>, binary, <<"11008988">>}, {<<"x-match">>, longstr, <<"all">>}],
    
    [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"SubSystem">>, binary, <<"Dragnet">>},
      {<<"System">>, binary, <<"Cronica">>}, {<<"ClientString">>, binary, <<"kaplan">>},
      {<<"Client">>, binary, <<"404310">>}, {<<"UserId">>, binary, <<"31674242">>},
      {<<"CourseId">>, binary, <<"11008988">>}, {<<"x-match">>, longstr, <<"all">>}]
  ] },

  %% Small header
  %% [{<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"x-match">>, longstr, <<"all">>}];
  {publish_header, [
    {<<"MessageType">>, binary, <<"Some.Msg.Type">>}, {<<"SubSystem">>, binary, <<"Dragnet">>},
    {<<"System">>, binary, <<"Cronica">>}, {<<"ClientString">>, binary, <<"kaplan">>},
    {<<"Client">>, binary, <<"404310">>}, {<<"UserId">>, binary, <<"31674242">>},
    {<<"CourseId">>, binary, <<"11008988">>}, {<<"x-match">>, longstr, <<"all">>}] 
  },
  
  %%
  %% The only information in this configuration file is for lager. It defines several lager
  %% "backends", one defining the log file for each of the logging levels. This is fairly arbitrary
  %% list and can be modified for individual needs.
  %%

  {lager, [
    {handlers, [
      {lager_console_backend, [info, {lager_default_formatter, [date, " ", time, " [", severity, "] ",
        pid, " ", module, ":", function, " ", message, "\n"]}]},
      {lager_file_backend, [{file, "log/error.log"}, {level, error}, {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", module, ":", function, " ", message, "\n"]}]},
      {lager_file_backend, [{file, "log/debug.log"}, {level, debug}, {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", module, ":", function, " ", message, "\n"]}]},
      {lager_file_backend, [{file, "log/emergency.log"}, {level, emergency}, {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", module, ":", function, " ", message, "\n"]}]},
      {lager_file_backend, [{file, "log/info.log"}, {level, info}, {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", module, ":", function, " ", message, "\n"]}]}
    ]}
  ]}
%% 	{lager, [
%% 		{colored, true},
%% 		{error_logger_hwm, 200}
%% 	]}
]
}].
